<div class="ui modal" ng-controller="customiseCtrl">
  <i class="close icon"></i>
  <div class="header">Customise view</div>
  <div class="content">
    <h4 class="ui dividing header">Customise images and colors</h4>
    <table class="ui very basic table">
      <thead>
        <tr>
          <th>Images</th>
          <th></th>
          <th>Colors</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="ui small aliceImage">
              <img ng-src="{{image1src}}" alt="images/wireframe/image.png">
            </div>
          </td>
          <td ng-if="localdataInfo.classe.uri != localdataInfo.objPropClasse.uri">
              <a class="header">Class</a>
              <div class="meta">
                <span>{{localdataInfo.classe.label}}</span>
                <span>{{localdataInfo.classe.uri}}</span>
              </div>
              <input type="file" id="file1" name="file">
              <input type="button" ng-click="uploadFile1()" value="Upload" />
              <!--<div id="loading-bar-container"></div>-->
          </td>
          <td>
              <div class="ui input">
                <color-picker ng-model="localdataInfo.classe.color"></color-picker>
              </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="ui small aliceImage">
              <img ng-src="{{$scope.imageDefault}}" alt="images/wireframe/image.png">
            </div>
          </td>
          <td>
            <a class="header">Class Datatype Property</a>
              <div class="meta">
                <span>{{localdataInfo.litPropClasse[0].label}}</span>
              </div>
          </td>
          <td>
            <div class="ui input">
              <color-picker ng-model="localdataInfo.litPropClasse[0].color"></color-picker>
            </div>
          </td>
        </tr>
        <tr ng-if="localdataInfo.classe.uri != localdataInfo.objPropClasse.uri">
          <td>
            <div class="ui small aliceImage">
              <img ng-src="{{image2src}}" alt="images/wireframe/image.png">
            </div>
          </td>
          <td>
            <a class="header">Class Object Property</a>
            <div class="meta">
              <span>{{localdataInfo.objPropClasse.label}}</span>
              <span>{{localdataInfo.objPropClasse.uri}}</span>
            </div>
            <input type="file" id="file2" name="file"/>
            <input type="button" ng-click="uploadFile2()" value="Upload" />
          </td>
          <td>
            <div class="ui input">
              <color-picker ng-model="localdataInfo.objPropClasse.color"></color-picker>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="ui small aliceImage">
              <img ng-src="{{$scope.imageDefault}}" alt="default.png">
            </div>
          </td>
          <td>
            <a class="header">Class Object Property Datatype Property</a>
            <div class="meta">
              <span>{{localdataInfo.litPropObj[0].label}}</span>
            </div>
          </td>
          <td>
            <div class="ui input">
              <color-picker ng-model="localdataInfo.litPropObj[0].color"></color-picker>
            </div>
          </td>
        </tr>
        <tr ng-if="localdataInfo.objPropObj.uri != '' && (localdataInfo.objPropObj.uri != localdataInfo.classe.uri) && (localdataInfo.objPropObj.uri != localdataInfo.objPropClasse.uri)">
          <td>
            <div class="ui small aliceImage">
              <img ng-src="{{image3src}}" alt="default.png">
            </div>
          </td>
          <td <a class="header">Class Object Property Object Property</a>
            <div class="meta">
              <span>{{localdataInfo.objPropObj.label}}</span>
            </div>
            <input type="file" id="file3" name="file"/>
            <input type="button" ng-click="uploadFile3()" value="Upload" />
          </td>
          <td>
            <div class="ui input">
              <color-picker ng-model="localdataInfo.objPropObj.color"></color-picker>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="applyAndCloseModal()" class="ui primary button">
      Apply
    </button>
    <button ng-click="restoreDefault()" class="ui button">
      Restore default
    </button>
    <div class="ui divider"></div>
    <div class="ui success message" ng-if="showSuccessMessage">
      <i class="close icon"></i>
      <div class="header">
        Upload successful.
      </div>
    </div>
    <div class="ui negative message" ng-if="showErrorMessage">
      <i class="close icon"></i>
      <div class="header">
        Error while uploading.
      </div>
    </div>
  </div>
</div>
