<div class="ui modal" ng-controller="customiseCtrl">
  <i class="close icon" ng-click="closeModal()"></i>
  <div class="header">Customise view</div>
  <div class="content">
    <h4 class="ui dividing header">Customise images and colors</h4>
    <table class="ui very basic table">
      <thead>
        <tr>
          <th>Images</th>
          <th></th>
          <th>Colors</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>
            <div class="ui small aliceImage">
              <img ng-src="{{image1src}}" alt="images/wireframe/image.png">
            </div>
          </td>
          <td ng-if="localdataInfo.classe.uri != localdataInfo.objPropClasse.uri">
              <a class="header">Class {{localdataInfo.classe.label}}</a>
              <div class="meta">
                <span>{{localdataInfo.classe.uri}}</span>
              </div>
              <!--<div id="loading-bar-container"></div>-->
          </td>
          <td>
              <div class="ui input">
                <color-picker ng-model="localdataInfo.classe.color"></color-picker>
              </div>
          </td>
        </tr>
        <tr ng-if="localdataInfo.litPropClasse.label != ' ' ">
          <td>

          </td>
          <td>
            <a class="header">Property {{localdataInfo.litPropClasse.label}} of {{localdataInfo.classe.label}}</a>
              <div class="meta">
                <span>{{localdataInfo.litPropClasse.uri}}</span>
              </div>
              <div>
              <form name="form1">
                <div class="button" ngf-select ng-model="file1" name="file1" ngf-pattern="'image/*'"
                  ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                  ngf-resize="{width: 100, height: 100}">Select image</div>
                <button type="submit" ng-click="submitfile1()">Upload</button>
              </form>
              Image thumbnail: <img ngf-thumbnail="file1 || '/thumb.jpg'">
            </div>
          </td>
          <td>
            <div class="ui input">
              <color-picker ng-model="localdataInfo.litPropClasse.color"></color-picker>
            </div>
          </td>
        </tr>
        <tr ng-if="localdataInfo.objPropClasse.label != ' ' ">
          <td>
            <div class="ui small aliceImage">
              <img ng-src="{{image2src}}" alt="default.png">
            </div>
          </td>
          <td>
            <a class="header">Property {{localdataInfo.objPropClasse.label}} of {{localdataInfo.classe.label}}</a>
            <div class="meta">
              <span>{{localdataInfo.objPropClasse.uri}}</span>
            </div>
          </td>
          <td>
            <div class="ui input">
              <color-picker ng-model="localdataInfo.objPropClasse.color"></color-picker>
            </div>
          </td>
        </tr>
        <tr ng-if="localdataInfo.litPropObj.label != ' ' ">
          <td>

          </td>
          <td>
            <a class="header">Property {{localdataInfo.litPropObj.label}} of {{localdataInfo.litPropObj.range}}
            </a>
            <div class="meta">
              <span>{{localdataInfo.litPropObj.uri}}</span>
              </div>
              <div>
                <form name="form2">
                  <div class="button" ngf-select ng-model="file2" name="file2" ngf-pattern="'image/*'"
                    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                    ngf-resize="{width: 100, height: 100}">Select image</div>
                  <button type="submit" ng-click="submitfile2()">Upload</button>
                </form>
              Image thumbnail: <img ngf-thumbnail="file2 || '/thumb.jpg'">
            </div>
          </td>
          <td>
            <div class="ui input">
              <color-picker ng-model="localdataInfo.litPropObj.color"></color-picker>
            </div>
          </td>
        </tr>
        <tr ng-if="localdataInfo.objPropObj.label != ' ' ">
          <td>
            <div class="ui small aliceImage">
              <img ng-src="{{image3src}}" alt="default.png">
            </div>
          </td>
          <td>
            <a class="header">Property {{localdataInfo.objPropObj.label}} of {{localdataInfo.objPropObj.range}}</a>
            <div class="meta">
              <span>{{localdataInfo.objPropObj.uri}}</span>
            </div>
            <div>
            <div>
              <form name="form3">
                <div class="button" ngf-select ng-model="file3" name="file3" ngf-pattern="'image/*'"
                  ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                  ngf-resize="{width: 100, height: 100}">Select image</div>
                <button type="submit" ng-click="submitfile3()">Upload</button>
              </form>
              Image thumbnail: <img ngf-thumbnail="file3 || '/thumb.jpg'">
            </div>
          </td>
          <td>
            <div class="ui input">
              <color-picker ng-model="localdataInfo.objPropObj.color"></color-picker>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="applyAndCloseModal()" class="ui primary button">
      Apply
    </button>
    <button ng-click="restoreDefault()" class="ui button">
      Cancel
    </button>
    <div class="ui divider" ng-if="showSuccessMessage || showErrorMessage" ></div>
    <div class="ui success message" ng-if="showSuccessMessage">
      <i class="close icon"></i>
      <div class="header">
        Upload successful.
      </div>
    </div>
    <div class="ui negative message" ng-if="showErrorMessage">
      <i class="close icon"></i>
      <div class="header">
        Error while uploading.
      </div>
    </div>
  </div>
</div>
