/* app css stylesheet */

#graph_box{
  background-color: rgb(251, 251, 251);
  opacity: 1;
}

/* top menu */
div.ui.top.fixed.menu{
  border-top: 2px solid #b92b27;
  box-shadow: none;
}

/* logo */
a.logo{
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

a.logo:hover {
  color: rgba(0, 0, 0, 0.63);
}

.logo-icon{
  margin-top: 12px;
  margin-bottom: 12px;
}

/* colori icona e logo */
.darkGrey{
  color: rgba(0, 0, 0, 0.63);
}

.darkRed{
  color: #b92b27;
}

/* sidebar and pusher sotto al top menu */
div.ui.left.sidebar.vertical.menu,
div.pusher{
  top: 49px;
}

/* accordion all'interno della sidebar */
.ui.styled.accordion, .usi.styled.accordion .accordion{
  border-radius: 0px;
}

/* sidebar */
.ui.left.visible.sidebar, .ui.right.visible.sidebar{
  box-shadow: none;
}


/* d3 visualization styles */
.links {
  fill: none;
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node .selected {
  stroke: black;
}

.markers{
  viewBox: 0 -5 10 10;
  refX: 16;
  refY: 0;
  marker-width: 6;
  marker-height: 6;
  orient: auto;
  fill: #999;
  fill-opacity: 0.9;
}

.linklabelholder text {
  font-size: 3px;
  pointer-events: none;
  fill: #999;
  fill-opacity: 0.9;
}

/* info laterali nodo selezionato */
#node_info p{
  font-size: 12px;
  font-family: sans-serif;
  color: grey;
  opacity: 0.8;
  word-break: break-all;
  margin-bottom: 0px;
}

#node_info a{
  font-size: 12px;
  font-family: sans-serif;
  color: grey;
  word-break: break-all;
}
