/* app css stylesheet */

/* top menu */
div.ui.top.fixed.menu{
  font-family: sans-serif;
  border-top: 2px solid #b92b27;
  box-shadow: none;
  height: 44px;
}

.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu{
  margin-left: 0px !important;
}

/* logo */
a.appName{
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

a.subtitle{
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
}

a.appName:hover, a.subtitle:hover{
  color: rgba(0, 0, 0, 0.63);
}

i.big.icon{
  vertical-align: baseline;
}

/* colori icona e logo */
.darkGrey{
  color: rgba(0, 0, 0, 0.63);
}

.darkRed{
  color: #b92b27;
}

.darkRedBorderTop {
  border-top: 2px solid #b92b27 !important;
}

/* sidebar and pusher sotto al top menu */
div.ui.left.sidebar.vertical.menu,
div.ui.right.sidebar.vertical.menu,
div.pusher{
  top: 43px;
}

/* accordion all'interno della sidebar */
.ui.styled.accordion, .usi.styled.accordion .accordion{
  border-radius: 0px;
}

/* sidebar */
.ui.left.visible.sidebar, .ui.right.visible.sidebar{
  box-shadow: none;
}

/* dropdown menu */
.ui.selection.dropdown{
  border: none;
}

/* d3 visualization styles */
#graph_box{
  background-color: rgb(251, 251, 251);
  opacity: 1;
  padding: 10px;
  padding-top: 0;
}

#menuSwitch{
    background-color: rgb(251, 251, 251);
    opacity: 1;
    padding: 0px;
}

.links line,
.links path{
  stroke: #999;
  stroke-opacity: 0.8;
  stroke-width: 1;
}

.nodes circle, .nodes rect{
  stroke: #fff;
  stroke-width: 1;
}

.markers{
  viewBox: 0 -5 10 10;
  refX: 15;
  refY: 0;
  orient: auto;
  fill: #999;
}


#node_info p,
#data_info p,
#endpointInfo p{
  margin-bottom: 0px;
}

#data_info .item h5{
  display: inline;
  vertical-align: super;
}

.fluidImg{
  display: block;
  width: 100%;
  height: auto;
  max-height: 200px;
  margin-bottom: 5px;
}

/* pagina about */
.about{
  font-family: sans-serif;
  color: darkgrey;
}

.about a, .about a:hover {
  color: grey;
}

footer{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  overflow:hidden;
}

/* */
.searchable-multi-select {
  position: relative;
}

.searchable-multi-select a {
	width: 100%;
	padding: 5px 7px;
	overflow: hidden;
}

.searchable-multi-select a span {
	display: block;
	overflow: hidden;
	margin-right: 10px;
}

.searchable-multi-select a .caret {
	position: absolute;
	right: 5px;
	top: 50%;
}

ul.dropdown-menu-form {
	padding: 5px 10px 0;
	overflow-y: auto;
	height: 300px;
}

span.limit-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bottoni {
  padding: 1em 0em;
}

/* per messaggi di ok e di errore */
.hidden {
  display: none !important;
}

#endpointInfo,
#data_info,
#prefixesBox {
  word-break: break-all;
}

.ui.vertical.text.menu .item{
  padding-left: 8px;
  padding-right: 8px;
}

/* label */
.label-overrided{
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #e8e8e8;
    background-image: none;
    padding: .5833em .833em;
    color: rgba(0,0,0,.6);
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
}

.label-overrided-red{
  background-color: #b92b27;
  color: white;
}

.horizontal-mini-label{
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #e8e8e8;
    background-image: none;
    padding: .5833em .833em;
    color: rgba(0,0,0,.6);
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
    position: relative;
    margin: 0;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-color: rgba(0,0,0,.15);
    margin: 0 .5em 0 0;
    padding: .4em .833em;
    min-width: 3em;
    text-align: center;
    font-size: .71428571rem;
}

/* item in dropdown menu scelta entpoint*/
.compact{
  margin: 0px;
  padding: 0px;
}

/* padding degli item dei menu laterale dx*/
.ui.menu .ui.dropdown .menu>.item{
  padding: 8px !important;
  padding-left: 12px !important;
}

/* tooltip nodi*/
div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 200px;
    min-height: 150px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


/*font size di tutta l'app*/
body p, body h5, body b, body div, body a, body label, body .ui.label, body h5 .ui.header,
.ui.segment, .ui.segment h5.ui.header, .ui.checkbox label{
  font-size: 11px;
  word-wrap: break-word;
}

.ui.label{
  padding: 4px;
}

/* ribbon label override */
.ui-blue-ribbon-label-override{
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #e8e8e8;
    background-image: none;
    padding: .5833em .833em;
    color: rgba(0,0,0,.6);
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
    position: relative;
    margin: 0;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-radius: 0 .28571429rem .28571429rem 0;
    border-color: rgba(0,0,0,.15);
    left: calc(-1rem - 1.2em);
    margin-right: -1.2em;
    padding-left: calc(1rem + 1.2em);
    padding-right: 1.2em;
    background-color: #2185d0!important;
    color: #fff!important;
    border-color: #1a69a4!important;
    margin-bottom: 3px;
}

.ui-blue-ribbon-label-override:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    background-color: transparent!important;
    border-style: solid;
    border-width: 0 1.2em 1.2em 0;
    border-color: transparent;
    border-right-color: inherit;
    width: 0;
    height: 0;
}

.ui-blue-right-ribbon-label-override{
    position: relative;
    margin: 0;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    border-radius: 0 .28571429rem .28571429rem 0;
    border-color: rgba(0,0,0,.15);
    left: calc(100% + 1rem + 1.2em);
    text-align: left;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    border-radius: .28571429rem 0 0 .28571429rem;

    background-color: #2185d0!important;
    color: #fff!important;
    border-color: #1a69a4!important;
    padding: .5833em .833em;
    line-height: 1;
    vertical-align: baseline;
    margin-bottom: 3px;
}

.ui-blue-right-ribbon-label-override:after {
    position: absolute;
    content: '';
    top: 100%;
    background-color: transparent!important;
    border-style: solid;
    border-width: 0 1.2em 1.2em 0;
    border-color: transparent;
    border-right-color: inherit;
    width: 0;
    height: 0;

    left: auto;
    right: 0;
    border-style: solid;
    border-width: 1.2em 1.2em 0 0;
    border-color: transparent;
    border-top-color: inherit;
}

/* image */
.ui.aliceImage {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    background-color: transparent;
}

.ui.aliceImage img{
    display: block;
}

.ui.small.aliceImage img{
  max-width: 125px;
  max-height: 100px;
}

.color-picker-wrapper .input-group .color-picker-input-swatch{
  width: 140px;
}


/* tooltip */
.d3-tip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}


/*LOADING BAR*/
#loading-bar .bar {
  position: relative;
}


.overlay {
  fill: none;
  pointer-events: all;
}
button {
  padding: 10px 20px;
}