<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="keywords" content="semantic web technologies linked open data LOD datasets visualization">
  <meta name="description" content="semantic web technologies project">
  <meta name="author" content="alice graziosi">

  <!-- nome app web e icona -->
  <title>{{appName}} {{subtitle}}</title>
  <link rel="shortcut icon" href="favicon.ico"/>

  <!-- Google font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- semantic-ui -->
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.css">
  <script type="text/javascript" src="semantic/dist/semantic.js"></script>


  <link rel="stylesheet" href="node_modules/angularjs-color-picker/dist/angularjs-color-picker.min.css" />

  <!-- underscore.js -->
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

  <script type="text/javascript"  src="https://d3js.org/d3.v4.js"></script>
  <script type="text/javascript" src="d3v4-tips.js"></script>

  <!-- per d3v3
  <script src="node_modules/d3-tip/index.js"></script>-->
  <link rel='stylesheet' href='node_modules/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />

  <!-- basic style for tooltip -->
  <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">

  <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
 <!-- Left Sidebar -->
  <div class="ui wide left overlay sidebar vertical menu">
    <!-- Accordion -->
    <div class="ui vertical following fluid accordion text menu" ng-controller="contactEndpointCtrl">

      <div class="active item">

        <a class="title">
          <i class="dropdown icon"></i>


          <div class="ui small header">
            <div class="label-overrided label-overrided-red">
            1
            </div>
          Change current SPARQL endpoint or graph data
          </div>

        </a>
        <div class="content menu" id="endpointGraphDropdown">

          <div class="ui segment">
            <div class="item">
                <h5 class="header">Current SPARQL endpoint name</h5>
                <p>{{$root.selectedEndpointName}}</p>
            </div>
            <div class="item">
                <h5 class="header">Current SPARQL endpoint URL</h5>
                <p>{{$root.selectedEndpointUrl}}</p>
            </div>
            <div class="item">
                <h5 class="header">Current Graph</h5>
                <p>{{$root.selectedGraph}}</p>
            </div>
          </div>

          <div class="ui small header">Select a SPARQL endpoint</div>
          <div class="ui fluid search selection dropdown">
            <i class="dropdown icon"></i>
            <div class="default text"></div>
              <div class="menu">
                <div class="item"
                     ng-click="selectEndpoint(endpoint);"
                     ng-repeat="endpoint in endpointList">
                  <p class="compact">{{endpoint.name}}</p>
                  <p class="compact">{{endpoint.url}}</p>
                </div>
              </div>
            </div>

            <div class="ui small header">Select a graph</div>
            <div id="graphDropdown">
             <div class="ui fluid search selection dropdown">
              <i class="dropdown icon"></i>
              <div class="default text"></div>
              <div class="menu">
                <div class="item"
                     ng-click="selectGraph(graph)"
                     ng-repeat="graph in graphList">
                     <p class="compact">{{graph}}</p>
                </div>
              </div>
            </div>
            </div>

            <button class="ui mini primary button" ng-click="contactSelectedEndpoint()">
              Ok
            </button>
            <button class="ui mini button" ng-click="restoreEndpointGraphDropdownToDefault()">
              Clear
            </button>

            <div class="ui tiny info message">
              <i class="close icon" ng-click="dismissMessage()"></i>
              <div class="header">{{message}}</div>
            </div>

        </div> <!-- chiude <div class="active content" id="endpointandgraph">-->
      </div> <!-- chiude <div class="ui item"> -->

      <div class="ui fitted divider"></div>

      <div class="active item">
        <a class="title active">
          <i class="dropdown icon"></i>

          <div class="ui small header">
            <div class="label-overrided label-overrided-red">
            2
            </div>
            Select data
          </div>
        </a>
        <div class="content active menu" id="datasetInfoRichieste">

          <div class="ui small header" ng-show="classes.length!=0">Select a class
            <div class="label-overrided">{{numClasses}}</div>
            <div ng-if="fetchingMessageToAppear" class="ui active inline mini loader"></div>
          </div>

          <div class="ui fluid search selection dropdown">
              <i class="dropdown icon"></i>
              <div class="default text">Search</div>
              <div class="menu">
                <div class="item" data-value="class.label" ng-click="selectClass(class)"
                     ng-repeat="class in classes"> <!-- | limitTo:totalDisplayed-->
                     {{class.label}}
                </div>
              </div>
          </div>

          <h6 class="ui header" ng-if="selectedClass!=' ' && classDatatypeProperties.length==0 && classObjectProperties.length==0">
            No properties found.</h6>

          <div id="allClassPropertiesDropown">
          <div class="ui small header" ng-show="classDatatypeProperties.length!=0">
            Select a datatype property of {{selectedClass.label}}
            <div class="label-overrided">
              {{numClassDatatypeProperties}}
            </div>
            <div ng-if="classDatatypePropertiesLoading" class="ui inline mini loader"></div>
          </div>

          <div ng-show="classDatatypeProperties.length!=0">
            <div class="ui fluid search selection dropdown">
              <i class="dropdown icon"></i>
              <div class="default text">Search</div>
              <div class="menu">
                <div class="item"
                    ng-click="selectClassDatatypeProperty(classDatatypeProperty);"
                    ng-repeat="classDatatypeProperty in classDatatypeProperties">
                    {{classDatatypeProperty.label}}
                </div>
                <div ng-show="classDatatypeProperties.length>totalDisplayed" class="ui center aligned segment">
                  <button class="fluid ui mini white button" ng-click="loadMore()">Load more</button>
                </div>
              </div>
            </div>
          </div>

          <div class="ui small header" ng-show="classObjectProperties.length!=0">
              Select an object property of {{selectedClass.label}}
            <div class="label-overrided">
              {{numClassObjectProperties}}
            </div>
            <div class="ui inline mini loader"></div>
          </div>
          <div ng-show="classObjectProperties.length!=0">
            <!--<div class="ui fluid multiple search normal selection dropdown"
              ng-click="dropdown();">-->
              <div class="ui fluid search selection dropdown">
              <i class="dropdown icon"></i>
              <div class="default text">Search</div>
              <div class="menu">
                <div class="item" class="item"
                    ng-click="selectClassObjectProperty(classObjectProperty);"
                    ng-repeat="classObjectProperty in classObjectProperties">
                    {{classObjectProperty.label}}
                </div>
                <div ng-show="classObjectProperty.length>totalDisplayed" class="ui center aligned segment">
                  <button class="fluid ui mini white button" ng-click="loadMore()">Load more</button>
                </div>
              </div>
            </div>
          </div>

          <div class="ui compact message" ng-show="!isEmpty(objectPropertyRange)">
            There will be displayed also
            <div class="label-overrided">
              {{objectPropertyRange.label}}
            </div>
            instances.
          </div>

          <div ng-show="!isEmpty(selectedClass) && (selectedClassDatatypeProperties.length!=0 || selectedClassObjectProperties.length!=0)">
            <button class="ui mini button" ng-click="queryEndpointClassProperties()">
              Load data
            </button>
            <button class="ui mini button" ng-click="clearAllClassPropertiesDropown()">
              Clear
            </button>
          </div>

          <div ng-show="showSecondSection && (objDatatypeProperties.length!=0 || objObjectProperties.length!=0)">
          <div class="ui divider"></div>

          <div class="ui small header" ng-if="objDatatypeProperties.length!=0 || objObjectProperties.length!=0"
              ng-repeat="selectedClassObjectProperty in selectedClassObjectProperties">
              Select properties of {{objectPropertyRange.label}}
          </div>

          <div ng-show="objDatatypeProperties.length!=0">
            <div class="ui small header" >
              Select a datatype property of {{objectPropertyRange.label}}
              <div class="label-overrided">
                {{numObjDatatypeProperties}}
              </div>
              <div class="ui inline mini loader"></div>
            </div>

            <div class="ui fluid search selection dropdown">
              <i class="dropdown icon"></i>
              <div class="default text">Search</div>
              <div class="menu">
                <div class="item"
                    ng-click="selectObjDatatypeProperty(prop)"
                    ng-repeat="prop in objDatatypeProperties">
                    {{prop.label}}
                </div>
                <div ng-show="objDatatypeProperties.length!=0" class="ui center aligned segment">
                  <button class="fluid ui mini white button" ng-click="loadMore()">Load more</button>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="objObjectProperties.length!=0">
            <div class="ui small header">
              Select an object property of {{objectPropertyRange.label}}
              <div class="label-overrided">
                {{numObjObjectProperties}}
              </div>
              <div class="ui inline mini loader"></div>
            </div>

            <div class="ui fluid search selection dropdown">
              <i class="dropdown icon"></i>
              <div class="default text">Search</div>
              <div class="menu">
                <div class="item"
                    ng-click="selectObjObjectProperty(prop)"
                    ng-repeat="prop in objObjectProperties">
                    {{prop.label}}
                </div>
                <div ng-show="objObjectProperties.length>totalDisplayed"
                    class="ui center aligned segment">
                  <button class="fluid ui mini white button" ng-click="loadMore()">Load more</button>
                </div>
              </div>
            </div>

          </div>
          </div>

          <div class="ui compact message" ng-show="!isEmpty(objObjectPropertyRange)">objObjectPropertyRange.label!=undefined">
            There will be displayed also
            <div class="label-overrided">
              {{objObjectPropertyRange.label}}
            </div>
            instances.
          </div>

          <div ng-show="selectedObjObjectProperties.length!=0 || selectedObjDatatypeProperties.length!=0">
            <button class="ui mini button" ng-click="queryEndpoint()">
              Load data
            </button>
            <button class="ui mini button" ng-click="clearQueryParam()">
              Clear
            </button>
          </div>
        </div>
        </div><!-- chiude <div class="content menu"> -->
      </div><!-- chiude <div class="ui item"> -->

      <div class="ui fitted divider"></div>

      <!--
      <div class="item">
        <a class="title">
          <i class="dropdown icon"></i>
          <b>Select data from JSON file</b>
        </a>
        <div class="content menu" ng-controller="JsonCtrl">
          <div class="ui fluid action input">
            <input type="text"
              ng-init="filename='yourData.json'"
              ng-model="filename">
            <button class="ui icon button">
              <i class="search icon"></i>
            </button>
          </div>
        </div>
      </div>
      -->

    </div> <!--chiude <div class="item"> -->
  </div> <!-- chiude Left Sidebar -->

    <!-- Top Fixed Menu -->
  <div class="ui top fixed stackable menu" ng-app="myApp">
    <a class="ui item data-content"  id="left-sidebar-toggle" data-content="Change dataset and explore data">
      <i class="large content grey icon" style="margin: 0px;"></i>
    </a>

    <div class="ui container">
      <div style="margin-top: 10px;" ng-controller="myAppCtrl">
        <i class="big darkRed share alternate icon"></i>
        <a href="#" class="header darkGrey appName">{{appName}}</a>
        <a href="#" class="header darkGrey subtitle">{{subtitle}}</a>
      </div>
    </div>

    <!--
    <a href="#!/addEndpoint" class="item right">add Endpoint</a>
    -->

    <a href="#!/about" class="item right">about</a>

    <!--
    <div class="item right" id="toggleRightSidebar">
      <i class="ellipsis vertical medium icon"></i>
    </div>
    -->
  </div>

  <!-- Site content -->
<div class="pusher">
   <!--
   <ul>
     <li><a href="#!/view1">view1</a></li>
     <li><a href="#!/about">about</a></li>
     <li><a href="#!/graphvis">graphvis</a></li>
   </ul>-->
   <div class="ui sixteen column centered grid" id="menuSwitch">
     <div ng-if="showSection" class="ui grid">
       <div class="row">
         <div class="ui secondary pointing compact menu"
         ng-controller="menuCtrl">
           <a href="#!/graph" class="item active data-content" id="menuGraph" ng-click="gotoGraph()" data-content="Switch to graph visualisation">
             Graph InfoViz
           </a>
           <a href="#!/cluster" class="item data-content" id="menuCluster" ng-click="gotoCluster()" data-content="Switch to cluster visualisation">
             Cluster InfoViz
           </a>
         </div>
       </div>
     </div>
   </div>

   <div ng-view></div>
</div>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script type="text/javascript">
   $(document).ready(function() {
      $('.accordion')
        .accordion({
          selector: {
            trigger: '.title'
          },
          exclusive: false  // Disable exclusivity to allow multiple sections to be open at once.
        });

      $('.ui.left.sidebar').sidebar({
        dimPage: false,
        transition: 'push',
        exclusive: false,
        closable: false
      });

      $('.ui.right.sidebar').sidebar({
        dimPage: false,
        transition: 'push',
        exclusive: false,
        closable: false
      });

      $('.ui.accordion').accordion('refresh');

      //  Attaches sidebar action to given selector. Default event if none specified is toggle
      $('.ui.left.sidebar').sidebar('attach events', '#left-sidebar-toggle', 'toggle');
      $('.ui.right.sidebar').sidebar('attach events', '#toggleRightSidebar', 'toggle');

      $('.ui.dropdown').dropdown({'fullTextSearch': 'exact', 'forceSelection': false});

      $('.data-content')
        .popup({
          on: 'hover'
      });

      $('.ui.modal').modal({
          detachable: false,
          allowMultiple: false
        });

      });


    /*
    The <script src=...> blocks the browser while
    document.createElement('script') loads the JavaScript asynchronously
    */
  </script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="about/about.js"></script>
  <script src="datasetsAndGraphs/datasetsAndGraphs.js"></script>
  <!--
  <script src="version/version.js"></script>
  <script src="version/version-directive.js"></script>-->
  <script src="version/interpolate-filter.js"></script>
  <script src="contactEndpoint/contactEndpointService.js"></script>
  <script src="contactEndpoint/contactEndpointCtrl.js"></script>
  <script src="d3Visualization/d3Service.js"></script>
  <script src="d3Visualization/d3Ctrl.js"></script>
  <script src="d3Visualization/d3ClusterDirective.js"></script>
  <script src="d3Visualization/d3GraphDirective.js"></script>
  <script src="d3Visualization/d3BarChartDirective.js"></script>
  <script src="jsonFile/getJSONfileModule.js"></script>
  <script src="queryDataset/queryDatasetModule.js"></script>
  <script src="queryDataset/queryDatasetCtrl.js"></script>
  <script src="menu/menuModule.js"></script>
  <script src="addEndpoint/addEndpointModule.js"></script>
  <script src="customise/customiseDirective.js"></script>
  <script src="customise/customiseModule.js"></script>

  <!-- export a svg d3 visualisation to png  -->
  <script src="https://cdn.rawgit.com/eligrey/canvas-toBlob.js/f1a01896135ab378aa5c0118eadd81da55e698d8/canvas-toBlob.js"></script>
  <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/e9d941381475b5df8b7d7691013401e171014e89/FileSaver.min.js"></script>

  <script src="node_modules/tinycolor2/dist/tinycolor-min.js"></script>
  <script src="node_modules/angularjs-color-picker/dist/angularjs-color-picker.min.js"></script>
  <script src="node_modules/angular-modal-service/dst/angular-modal-service.min.js"></script>
  <script type='text/javascript' src='node_modules/angular-loading-bar/build/loading-bar.min.js'></script>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88652737-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', 'UA-88652737-2');
  </script>

</body>
</html>
