<div class="ui darkRedBorderTop segment">
    <div class="ribbon-label-overrided">Customise data displayed</div>

    <button ng-click="customise()"
      class="ui red basic button">
      Customise
    </button>

    <div id="data_info" class="ui list">
        
        <div class="item">
          
          <svg height="20" width="20">
            <circle cx="10" cy="10" r="8" stroke="black" stroke-width="1" fill="{{dataInfo.classe.color}}" />
          </svg>

          <h5 class="header">
            <div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.classe.color}}">
                {{numClasses}}
            </div> 
            Class
          </h5>

          <p>{{dataInfo.classe.uri}}</p>
          <p>{{dataInfo.classe.label}}</p>
        </div>

        <div class="item">

          <svg width="20" height="20">
            <rect width="20" height="10" style="fill:{{dataInfo.litPropClasse[0].color}};stroke-width:1;stroke:rgb(0,0,0)" />
          </svg>

          <h5 class="header" ng-show="dataInfo.litPropHeadClass.length != 0">
            <div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.litPropClasse[0].color}}" >    {{numClassDatatypeProperties}}
            </div>  
            Class Literal Properties
          </h5>
          <div ng-model="dataInfo.litPropClasse"
               ng-repeat="prop in dataInfo.litPropClasse">
              <p>{{prop.label}}</p>
              <p>{{prop.uri}}</p>
          </div>
        </div>

        <div class="item">
          <svg height="20" width="20">
            <circle cx="10" cy="10" r="8" stroke="black" stroke-width="1" fill="{{dataInfo.objPropClasse.color}}" />
          </svg>
          <h5 class="header" ng-show="dataInfo.objPropHeadClass.length != 0">
            <div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.objPropClasse.color}}">    {{numClassDatatypeProperties}}
            </div> 
            Class Object Properties
          </h5>
          <div ng-model="dataInfo.objPropClasse">
              <p>{{objPropClasse.label}}</p>
              <p>{{objPropClasse.uri}}</p>
          </div>
        </div>

        <div class="item">
          <svg width="20" height="20">
            <rect width="20" height="10" style="fill:{{dataInfo.litPropObj[0].color}};stroke-width:1;stroke:rgb(0,0,0)" />
          </svg>
          <h5 class="header" ng-show="dataInfo.litPropHeadClass.length != 0">
            <div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.litPropObj[0].color}}" > {{numObjDatatypeProperties}}
            </div>  
           Class Object Property Literal Properties
          </h5>
          <div ng-model="dataInfo.litPropObj"
               ng-repeat="prop in dataInfo.litPropObj">
              <p>{{prop.label}}</p>
              <p>{{prop.uri}}</p>
          </div>
        </div>

        <div class="item">
          <svg height="20" width="20">
            <circle cx="10" cy="10" r="8" stroke="black" stroke-width="1" fill="{{dataInfo.objPropObj[0].color}}" />
          </svg>
          <h5 class="header" ng-show="dataInfo.objPropHeadClass.length != 0">
            <div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.objPropObj[0].color}}">{{numObjObjectProperties}}
            </div>  
            Class Object Property Object Properties
          </h5>
          <div ng-model="dataInfo.objPropObj"
              ng-repeat="prop in dataInfo.objPropObj">
              
              <p>{{prop.label}}</p>
              <p>{{prop.uri}}</p>
          </div>
        </div>
    </div>

    <div ng-include="'customise/customise.html'"></div>

</div>