<div class="ui darkRedBorderTop segment">
    <!--<div class="ribbon-label-overrided">Customise data displayed</div>-->
    <div class="ui-blue-right-ribbon-label-override">
    <!--<div class="ui blue right ribbon label">-->
    Customise data displayed</div>

    <button ng-click="customise();"
      class="ui red mini basic button">
      Customise
    </button>

    <div id="data_info" ng-model="dataInfo">
        <div class="item">
          <svg height="20" width="20">
            <circle cx="10" cy="10" r="8" fill="{{dataInfo.classe.color}}" />
          </svg>
          <h5>
          Classe {{dataInfo.classe.label}}
          </h5>
          <p>{{dataInfo.classe.uri}}</p>
        </div>

        <div class="item" ng-if="dataInfo.litPropClasse.label != ' '">

          <svg width="20" height="20">
            <rect width="20" height="15" style="top: 5px; fill:{{dataInfo.litPropClasse.color}};" />
          </svg>

          <div class="ui small aliceImage">
            <img ng-src="{{dataInfo.litPropClasse.photo}}">
          </div>

          <h5 class="header">
            <!--<div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.litPropClasse[0].color}}" >    {{numClassDatatypeProperties}}
            </div>-->
            Property {{dataInfo.litPropClasse.label}} of {{dataInfo.classe.label}}
          </h5>
          <p>{{dataInfo.litPropClasse.uri}}</p>
        </div>

        <div class="item" ng-if="dataInfo.objPropClasse.label != ' ' ">
          <svg height="20" width="20">
            <circle cx="10" cy="10" r="8" fill="{{dataInfo.objPropClasse.color}}" />
          </svg>

          <h5 class="header">
            <!--
            <div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.objPropClasse.color}}">    {{numClassDatatypeProperties}}
            </div>-->
            Property {{dataInfo.objPropClasse.label}} of {{dataInfo.classe.label}}
          </h5>
          <p>{{dataInfo.objPropClasse.uri}}</p>
        </div>

        <div class="item" ng-if="dataInfo.litPropObj.label != ' ' ">
          <svg width="20" height="20">
            <rect width="20" height="15" fill="{{dataInfo.litPropObj.color}}" />
          </svg>
          <h5 class="header">
            <!--<div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.litPropObj[0].color}}" > {{numObjDatatypeProperties}}
            </div>-->
           Property {{dataInfo.litPropObj.label}} of {{dataInfo.objPropObj.range}}
          </h5>
          <p>{{dataInfo.litPropObj.uri}}</p>
        </div>

        <div class="item" ng-if="dataInfo.objPropObj.label != ' ' ">
          <svg height="20" width="20">
            <circle cx="10" cy="10" r="8" fill="{{dataInfo.objPropObj.color}}" />
          </svg>
          <h5 class="header">
            <!--<div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.objPropObj[0].color}}">{{numObjObjectProperties}}
            </div>-->
            Property {{dataInfo.objPropObj.label}} of {{dataInfo.objPropObj.range}}
           </h5>
           <p>{{dataInfo.objPropObj.uri}}</p>
           </div>
        </div>
    </div>
</div>
<div ng-include="'customise/customiseModal.html'"></div>
