<div class="ui darkRedBorderTop segment">
    <!--<div class="ribbon-label-overrided">Customise data displayed</div>-->
    <div class="ui-blue-right-ribbon-label-override">
    <!--<div class="ui blue right ribbon label">-->
    Customise data displayed</div>

    <button ng-click="customise()"
      class="ui red mini basic button">
      Customise
    </button>

    <div id="data_info" class="ui list">

        <div class="item">

          <svg height="20" width="20">
            <circle cx="10" cy="10" r="8" fill="{{dataInfo.classe.color}}" />
          </svg>

          <h5>
            <!--<div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.classe.color}}">
                {{numClasses}}
            </div>-->
            Class
          </h5>

          <p>{{dataInfo.classe.uri}}</p>
          <p>{{dataInfo.classe.label}}</p>
        </div>

        <div class="item">

          <svg width="20" height="20">
            <rect width="20" height="15" style="top: 5px; fill:{{dataInfo.litPropClasse[0].color}};" />
          </svg>

          <h5 class="header" ng-show="dataInfo.litPropHeadClass.length != 0">
            <!--<div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.litPropClasse[0].color}}" >    {{numClassDatatypeProperties}}
            </div>-->
            Class datatype property
          </h5>
          <div ng-model="dataInfo.litPropClasse"
               ng-repeat="prop in dataInfo.litPropClasse">
              <p>{{prop.label}}</p>
              <p>{{prop.uri}}</p>
          </div>
        </div>

        <div class="item" ng-if="dataInfo.classe.uri != dataInfo.objPropClasse.uri">
          <svg height="20" width="20">
            <circle cx="10" cy="10" r="8" ng-if="dataInfo.objPropClasse.color" fill="{{dataInfo.objPropClasse.color}}" />
            <circle cx="10" cy="10" r="8" ng-if="!dataInfo.objPropClasse.color" fill="#e0e1e2" />
          </svg>

          <h5 class="header" ng-show="dataInfo.objPropHeadClass.length != 0">
            <!--
            <div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.objPropClasse.color}}">    {{numClassDatatypeProperties}}
            </div>-->
            Class object property
          </h5>
          <div ng-model="dataInfo.objPropClasse">
              <p>{{dataInfo.objPropClasse.label}}</p>
              <p>{{dataInfo.objPropClasse.uri}}</p>
          </div>
        </div>

        <div class="item">
          <svg width="20" height="20">
            <rect width="20" height="15" ng-if="dataInfo.litPropObj[0].color" fill="{{dataInfo.litPropObj[0].color}}" />
            <rect width="20" height="15" ng-if="!dataInfo.litPropObj[0].color" fill="#e0e1e2" />
          </svg>
          <h5 class="header" ng-show="dataInfo.litPropHeadClass.length != 0">
            <!--<div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.litPropObj[0].color}}" > {{numObjDatatypeProperties}}
            </div>-->
           Class object property datatype property
          </h5>
          <div ng-model="dataInfo.litPropObj"
               ng-repeat="prop in dataInfo.litPropObj">
              <p>{{prop.label}}</p>
              <p>{{prop.uri}}</p>
          </div>
        </div>

        <div class="item" ng-if="(dataInfo.objPropObj.uri != dataInfo.classe.uri) && (dataInfo.objPropObj.uri != dataInfo.objPropClasse.uri)">
          <svg height="20" width="20">
            <circle cx="10" cy="10" r="8" ng-if="dataInfo.objPropObj.color" fill="{{dataInfo.objPropObj.color}}" />
            <circle cx="10" cy="10" r="8" ng-if="!dataInfo.objPropObj.color" fill="#e0e1e2" />
          </svg>
          <h5 class="header">
            <!--<div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.objPropObj[0].color}}">{{numObjObjectProperties}}
            </div>-->
            Class object property object property
          </h5>
          <div ng-model="dataInfo.objPropObj">
              <p>{{dataInfo.objPropObj.label}}</p>
              <p>{{dataInfo.objPropObj.uri}}</p>
          </div>
        </div>
    </div>
</div>
<div ng-include="'customise/customise.html'"></div>
