<div class="container">
  <!--
    <div ng-controller="D3viewCtrl">
    attenzione!! se il controller è specificato nel config della route allora non bisogna
    scriverlo anche nel html altrimenti viene richiamato due volte!!
  -->
  <div class="ui stackable divided grid">
    <div class="row" id="graph_box">

      <div class="three wide column">
        <div ng-include="'d3Visualization/infoDatiVisualisation.html'"></div>
      </div>

      <div class="ten wide column">
        <!-- d3-visualization = directive -->

        <d3-clustervisualization graph="graph"
                                 selected-node-label="selectedNodeLabel"
                                 selected-cluster-option="selectedClusterOption"
                                 model="$parent"
                                 info="info"
                                 data-info="dataInfo"
                                 show-photo="showPhoto">
        </d3-clustervisualization>
      </div>
      <div class="top aligned three wide column">


          <div class="ui darkRedBorderTop segment">

            <!--<div class="ribbon-label-overrided">Cluster data</div>-->
            <div class="ui blue right ribbon label">Cluster data</div>
            <div class="ui segment">
                <div class="grouped fields">

                  <b>Cluster

                  <div class="ui horizontal label"
                  style="border: 2px solid {{dataInfo.classe.color}};">{{clusterClasse.label}}</div>

                  by</b>

                  <div class="field" data-value="{{litPropClasse}}" ng-repeat="clusterOption in litPropClasse">
                    <div class="ui radio checkbox checked">
                      <input type="radio"  checked="" name="clusterOption" ng-click="toggleSelectionClusterOption(clusterOption);">

                      <label>
                        <div class="ui horizontal label"
                          style="border: 2px solid {{dataInfo.litPropClasse[0].color}};">{{clusterOption.label}}</div>
                      </label>
                    </div>
                  </div>

                  <div ng-if="clusterObj.label"
                   class="ui horizontal divider">
                    Or
                  </div>

                  <b ng-if="clusterObj.label">Cluster
                  <div class="ui horizontal label" 
                    style="border: 2px solid {{dataInfo.objPropClasse.color}};">{{clusterObj.label}}</div>

                  by</b>

                  <div
                    class="field" data-value="{{litPropObj}}" ng-repeat="clusterOption in litPropObj">
                    <div class="ui radio checkbox">
                      <input type="radio" name="clusterOption" ng-click="toggleSelectionClusterOption(clusterOption);">
                      <label>
                        <div class="ui horizontal label"
                          style="border: 2px solid {{dataInfo.litPropObj[0].color}};">{{clusterOption.label}}
                        </div>
                      </label>
                    </div>
                  </div>

                <div ng-if="clusterObj.label!='-'" 
                    class="field" data-value="{{objPropObj}}" ng-repeat="clusterOption in objPropObj">
                    <div class="ui radio checkbox" ng-if="clusterOption.label!=''">
                      <input type="radio" name="clusterOption" ng-click="toggleSelectionClusterOption(clusterOption);" >
                      <label>
                         <div class="ui horizontal label"
                          style="border: 2px solid {{dataInfo.objPropObj[0].color}};">{{clusterOption.label}}
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              </div>

            <div ng-include="'d3Visualization/customiseView.html'"></div>

        </div>
      </div>
    </div>
  </div>
</div>
