<div class="container">
  <!--
    <div ng-controller="D3viewCtrl">
    attenzione!! se il controller è specificato nel config della route allora non bisogna
    scriverlo anche nel html altrimenti viene richiamato due volte!!
  -->
  <div class="ui stackable divided grid">
    <div class="row" id="graph_box">

      <div class="ui three wide column">
        <div ng-include="'d3Visualization/infoDatiVisualisation.html'"></div>
      </div>

      <div class="ui ten wide column">
        <!-- d3-visualization = directive -->

        <d3-clustervisualization graph="graph"
                                 selected-node-label="selectedNodeLabel"
                                 selected-cluster-option="selectedClusterOption"
                                 model="$parent"
                                 info="info"
                                 data-info="dataInfo"
                                 show-photo="showPhoto"
                                 c="c">
        </d3-clustervisualization>
      </div>
      <div class="top aligned three wide column">


          <div class="ui darkRedBorderTop segment">

            <!--<div class="ribbon-label-overrided">Cluster data</div>-->
            <div class="ui blue right ribbon label">Cluster data</div>
            <div class="ui segment">
                <div class="grouped fields">

                  <b>Cluster

                  <div class="ui horizontal label"
                  style="border: 2px solid {{dataInfo.classe.color}};">{{clusterClasse.label}}</div>

                  by</b>

                  <div class="field" data-value="litPropClasse">
                    <div class="ui radio checkbox checked">
                      <input type="radio"  checked="" name="clusterOption" ng-click="toggleSelectionClusterOption(clusterClasse.label, litPropClasse);">

                      <label>
                        <div class="ui horizontal label"
                          style="border: 2px solid {{dataInfo.litPropClasse.color}};">{{litPropClasse.label}}</div>
                      </label>
                    </div>
                  </div>

                  <div class="field" ng-value="{{clusterObj}}">
                    <div class="ui radio checkbox">
                      <input type="radio" name="clusterOption" ng-click="toggleSelectionClusterOption(clusterClasse.label, clusterObj);">

                      <label>
                        <div class="ui horizontal label"
                          style="border: 2px solid {{clusterOption.color}};">{{clusterObj.label}}</div>
                      </label>
                    </div>
                  </div>

                  <div ng-if="litPropObj.length!=0"
                   class="ui horizontal divider">
                    Or
                  </div>

                  <b ng-if="litPropObj.length!=0">Cluster
                  <div class="ui horizontal label"
                    style="border: 2px solid {{dataInfo.objPropClasse.color}};">{{clusterObj.label}}</div>
                  by</b>

                  <div
                    class="field" data-value="{{litPropObj}}">
                    <div class="ui radio checkbox">
                      <input type="radio" name="clusterOption" ng-click="toggleSelectionClusterOption(clusterClasse.label, litPropObj);">
                      <label>
                        <div class="ui horizontal label"
                          style="border: 2px solid {{dataInfo.litPropObj.color}};">{{litPropObj.label}}
                        </div>
                      </label>
                    </div>
                  </div>

                <div ng-show="objPropObj.label!=' '"
                    class="field" data-value="objPropObj">
                    <div class="ui radio checkbox" ng-show="objPropObj.label!=''">
                      <input type="radio" name="clusterOption" ng-click="toggleSelectionClusterOption(clusterClasse.label, objPropObj);" >
                      <label>
                         <div class="ui horizontal label"
                          style="border: 2px solid {{dataInfo.objPropObj.color}};">{{objPropObj.label}}
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              </div>

            <div ng-include="'d3Visualization/customiseView.html'"></div>
      </div>
    </div>
  </div>
</div>
