<div class="container">
  <!--
    <div ng-controller="D3viewCtrl">
    attenzione!! se il controller è specificato nel config della route allora non bisogna
    scriverlo anche nel html altrimenti viene richiamato due volte!!
  -->
  <div class="ui stackable divided grid">
    <div class="row" id="graph_box">

      <div class="ui three wide column">
        <div ng-include="'d3Visualization/infoDatiVisualisation.html'"></div>
      </div>


      <!--  Semantic's default theme uses 16 columns.-->
      <div class="ui ten wide column">
        <!-- d3-visualization = directive -->

        <div class="ui segment">

          <!--
          <div ng-if="showLoader"
            class="ui active inverted dimmer">
            <div class="ui large text loader">Loading</div>
          </div>
          -->
          <div class="ui icon buttons">
            <button id="zoom_in" class="ui button">
              <i class="zoom icon"></i>
            </button>
            <button id="zoom_out" class="ui button">
              <i class="zoom out icon"></i>
            </button>
          </div>
          <a ng-if="$root.graph.nodes.length==0">
            <div class="ui negative message">
              <i class="close icon"></i>
                <div class="header">
                  No data found :/
                </div>
                <p>Try another search.
              </p>
            </div>
          </a>

          <d3-graphvisualization graph="$root.graph"
                                 selected-item="selected"
                                 selected-node-label="selectedNodeLabel"
                                 object-shape="objectShape"
                                 datatype-shape="datatypeShape"
                                 data-info="dataInfo"
                                 show-photo="showPhoto"
                                 show-loader="showLoader"
                                 checkbox-model="checkboxModel">
          </d3-graphvisualization>

        </div>
      </div>


        <div class="ui three wide column">
          <h5 class="ui header">
            <input type="checkbox" ng-model="showPhoto.value"
                   ng-true-value="'true'" ng-false-value="'false'">
            Show photograph
          </h5>

          <div class="ui segment">
            <h5 class="ui header">Hover over node for item information</h5>
            <h5 class="ui header">{{selected.label}}</h5>
              <a ng-href="{{selected.id}}" target=”_blank”>{{selected.url}}
                <i ng-show="selected != ' '" class="external link icon"></i>
              </a>

            <a ng-href="{{selected.photoUrl}}" target=”_blank”>
            <img class="fluidImg"
              ng-if="selected.photoUrl!=' '"
              src="{{selected.photoUrl}}">
            </a>
          </div>

          <div class="ui darkRedBorderTop segment">
              <!--<div class="ribbon-label-overrided">Customise data displayed</div>-->
              <div class="ui-blue-right-ribbon-label-override">
              <!--<div class="ui blue right ribbon label">-->
              Customise data displayed</div>

              <button ng-click="customise();"
                class="ui red mini basic button">
                Customise
              </button>

              <div id="data_info" class="ui list" ng-model="dataInfo">

                  <div class="item">

                    <svg height="20" width="20">
                      <circle cx="10" cy="10" r="8" fill="{{dataInfo.classe.color}}" />
                    </svg>

                    <h5>
                      <div class="ui checkbox">
                        <input type="checkbox" ng-model="checkboxModel.value1"
                        ng-true-value="true" ng-false-value="false">
                        <label>Class {{dataInfo.classe.label}}</label>
                      </div>

                    </h5>
                    <p>{{dataInfo.classe.uri}}</p>
                  </div>

                  <div class="item" ng-show="dataInfo.litPropClasse.label != ' ' ">

                    <h5 class="header">
                    <svg width="20" height="20">
                      <rect width="20" height="15" style="top: 5px; fill:{{dataInfo.litPropClasse.color}};" />
                    </svg>
                      <!--<div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.litPropClasse[0].color}}" >    {{numClassDatatypeProperties}}
                      </div>-->
                      <div class="ui checkbox">
                        <input type="checkbox" ng-model="checkboxModel.value2"
                        ng-true-value="true" ng-false-value="false">
                        <label>Property {{dataInfo.litPropClasse.label}} of {{dataInfo.classe.label}}</label>
                      </div>
                    </h5>
                    <p>{{dataInfo.litPropClasse.uri}}</p>
                  </div>

                  <div class="item" ng-if="dataInfo.litPropClasse.label == ' ' ">


                  </div>


                  <div class="item" ng-if="dataInfo.objPropClasse.label != ' ' ">
                    <svg height="20" width="20">
                      <circle cx="10" cy="10" r="8" ng-if="dataInfo.objPropClasse.color" fill="{{dataInfo.objPropClasse.color}}" />
                    </svg>

                    <h5 class="header">
                      <!--
                      <div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.objPropClasse.color}}">    {{numClassDatatypeProperties}}
                      </div>-->
                      <div class="ui checkbox">
                        <input type="checkbox" ng-model="checkboxModel.value3"
                        ng-true-value="true" ng-false-value="false">
                        <label>Property {{dataInfo.objPropClasse.label}} of {{dataInfo.classe.label}}</label>
                      </div>
                    </h5>
                    <p>{{dataInfo.objPropClasse.uri}}</p>
                  </div>

                  <div class="item" ng-if="dataInfo.litPropObj.label != ' ' ">
                    <svg width="20" height="20">
                      <rect width="20" height="15" ng-if="dataInfo.litPropObj.color" fill="{{dataInfo.litPropObj.color}}" />
                    </svg>
                    <h5 class="header">
                      <!--<div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.litPropObj[0].color}}" > {{numObjDatatypeProperties}}
                      </div>-->
                      <div class="ui checkbox">
                        <input type="checkbox" ng-model="checkboxModel.value4"
                        ng-true-value="true" ng-false-value="false">
                        <label>Property {{dataInfo.litPropObj.label}} of {{dataInfo.objPropObj.range}}</label>
                      </div>

                    </h5>
                    <p>{{dataInfo.litPropObj.uri}}</p>
                  </div>

                  <div class="item" ng-show="dataInfo.objPropObj.label != ' ' ">
                    <svg height="20" width="20">
                      <circle cx="10" cy="10" r="8" ng-if="dataInfo.objPropObj.color" fill="{{dataInfo.objPropObj.color}}" />
                    </svg>
                    <h5 class="header">
                      <!--<div class="label-overrided horizontal-mini-label" style="background-color: {{dataInfo.objPropObj[0].color}}">{{numObjObjectProperties}}
                      </div>-->
                      <div class="ui checkbox">
                        <input type="checkbox" ng-model="checkboxModel.value5"
                        ng-true-value="true" ng-false-value="false">
                        <label>Property {{dataInfo.objPropObj.label}} of {{dataInfo.objPropObj.range}}</label>
                      </div>
                     </h5>
                     <p>{{dataInfo.objPropObj.uri}}</p>
                     </div>
                  </div>
              </div>
          </div>

          <div class="ui modal" ng-controller="customiseCtrl">
            <i class="close icon" ng-click="closeModal()"></i>
            <div class="header">Customise view</div>
            <div class="content">
              <h4 class="ui dividing header">Customise images and colors</h4>

              <table class="ui very basic table">
                <thead>
                  <tr>
                    <th>Images</th>
                    <th></th>
                    <th>Colors</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <form name="form">
                        <button ngf-select ng-model="files" ngf-multiple="true">Select images</button>
                        <button type="submit" ng-click="submit()">Upload</button>
                      </form>
                      <div ng-if="files" ng-repeat="file in files">{{file.name}} selected.</div>
                    </td>
                    <td>
                      <div class="ui success message" ng-if="showSuccessMessage">
                        <i class="close icon"></i>
                        <div class="header">
                          <div class="header" ng-if="files" ng-repeat="file in files">{{file.name}}</div>
                          uploaded successfully.
                        </div>
                      </div>
                      <div class="ui negative message" ng-if="showErrorMessage">
                        <i class="close icon"></i>
                        <div class="header">
                          Error while uploading
                          <div class="header" ng-if="files" ng-repeat="file in files">{{file.name}}</div>
                          .
                        </div>
                      </div>
                    </td>
                    <td>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="ui small aliceImage">
                        <img ng-src="{{image1src}}">
                      </div>
                    </td>
                    <td ng-if="localdataInfo.classe.uri != localdataInfo.objPropClasse.uri">
                        <a class="header">Class {{localdataInfo.classe.label}}</a>
                        <div class="meta">
                          <span>{{localdataInfo.classe.uri}}</span>
                        </div>
                    </td>
                    <td>
                        <div class="ui input">
                          <color-picker ng-model="localdataInfo.classe.color"></color-picker>
                        </div>
                    </td>
                  </tr>
                  <tr ng-if="localdataInfo.litPropClasse.label != ' ' ">
                    <td>

                    </td>
                    <td>
                      <a class="header">Property {{localdataInfo.litPropClasse.label}} of {{localdataInfo.classe.label}}</a>
                        <div class="meta">
                          <span>{{localdataInfo.litPropClasse.uri}}</span>
                        </div>
                    </td>
                    <td>
                      <div class="ui input">
                        <color-picker ng-model="localdataInfo.litPropClasse.color"></color-picker>
                      </div>
                    </td>
                  </tr>
                  <tr ng-if="localdataInfo.objPropClasse.label != ' ' ">
                    <td>
                      <div class="ui small aliceImage">
                        <img ng-src="{{image2src}}">
                      </div>
                    </td>
                    <td>
                      <a class="header">Property {{localdataInfo.objPropClasse.label}} of {{localdataInfo.classe.label}}</a>
                      <div class="meta">
                        <span>{{localdataInfo.objPropClasse.uri}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="ui input">
                        <color-picker ng-model="localdataInfo.objPropClasse.color"></color-picker>
                      </div>
                    </td>
                  </tr>
                  <tr ng-if="localdataInfo.litPropObj.label != ' ' ">
                    <td>

                    </td>
                    <td>
                      <a class="header">Property {{localdataInfo.litPropObj.label}} of {{localdataInfo.litPropObj.range}}
                      </a>
                      <div class="meta">
                        <span>{{localdataInfo.litPropObj.uri}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="ui input">
                        <color-picker ng-model="localdataInfo.litPropObj.color"></color-picker>
                      </div>
                    </td>
                  </tr>
                  <tr ng-if="localdataInfo.objPropObj.label != ' ' ">
                    <td>
                      <div class="ui small aliceImage">
                        <img ng-src="{{image3src}}">
                      </div>
                    </td>
                    <td>
                      <a class="header">Property {{localdataInfo.objPropObj.label}} of {{localdataInfo.objPropObj.range}}</a>
                      <div class="meta">
                        <span>{{localdataInfo.objPropObj.uri}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="ui input">
                        <color-picker ng-model="localdataInfo.objPropObj.color"></color-picker>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <button ng-click="restoreDefault()" class="ui button">
                Restore default
              </button>
              <button ng-click="applyAndCloseModal()" class="ui primary button">
                Apply
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
