<div class="container">
  <!--
    <div ng-controller="D3viewCtrl">
    attenzione!! se il controller è specificato nel config della route allora non bisogna
    scriverlo anche nel html altrimenti viene richiamato due volte!!
  -->
  <div class="ui internally celled grid">
    <div class="row" id="graph_box">
      <div class="twelve wide column">
        <div ng-include="'d3Visualization/menuVisualization.html'"></div>
        <!-- d3-visualization = directive -->
        <d3-graphvisualization graph="graph"
                               selected-item="selected"
                               selected-node-label="selectedNodeLabel"
                               object-shape="objectShape"
                               datatype-shape="datatypeShape"
                               data-info="dataInfo">
        </d3-graphvisualization>
      </div>
      <div class="ui top aligned four wide column">
        <button class="ui button" ng-click="exportJSON()">
          <i class="download icon"></i>Export as JSON
        </button>

        <div id="node_info">
          <p>Hover over node for node information<p>
            <a ng-href="{{selected.id}}" target=”_blank”>{{selected.id}}
              <i ng-show="selected != ' '" class="external link icon"></i>
            </a>
          <p>{{selected.label}}</p>
          <img src="{{selected.photoUrl}}" style="width:300;height:300;">
        </div>

        <div class="ui horizontal divider"></div>

        <div id="data_info">
          <p class="dataInfoLabel" ng-show="dataInfo.headClass.uri != ' '">Class<p>
          <p>{{dataInfo.classe.uri}}</p>
          <p>{{dataInfo.classe.label}}</p>

          <p class="dataInfoLabel" ng-show="dataInfo.litPropHeadClass.length != 0">Class Literal Properties</p>
          <div ng-model="dataInfo.litPropClasse" class="item"
               ng-repeat="prop in dataInfo.litPropClasse">
               <p>{{prop.label}}</p>
               <p>{{prop.uri}}</p>
          </div>
          <p class="dataInfoLabel" ng-show="dataInfo.objPropHeadClass.length != 0">Class Object Properties</p>
          <div ng-model="dataInfo.objPropClasse" class="item">
               <p>{{objPropClasse.label}}</p>
               <p>{{objPropClasse.uri}}</p>
          </div>

          <p class="dataInfoLabel" ng-show="dataInfo.litPropHeadClass.length != 0">Class Object Property Literal Properties</p>
          <div ng-model="dataInfo.litPropObj" class="item"
               ng-repeat="prop in dataInfo.litPropObj">
               <p>{{prop.label}}</p>
               <p>{{prop.uri}}</p>
          </div>
          <p class="dataInfoLabel" ng-show="dataInfo.objPropHeadClass.length != 0">Class Object Property Object Properties</p>
          <div ng-model="dataInfo.objPropClasse" class="item">
               <p>{{objPropObj.label}}</p>
               <p>{{objPropObj.uri}}</p>
          </div>
        </div>

        <div class="ui horizontal divider"></div>
        <div>
          <div class="ui list">
            <div ng-repeat="prefixUrl in prefixes" class="item">
              <div class="content">
                <a class="header" href="{{prefixUrl.url}}" target="_blank">{{prefixUrl.prefix}}</a>
                <div class="description">{{prefixUrl.url}}</div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
