<div class="ui darkRedBorderTop segment">
    <div class="ui blue right ribbon label">Current endpoint</div>

    <div id="endpointInfo" class="ui list">
        <div class="item">
            <h5 class="header">SPARQL endpoint name</h5>
            <p>{{selectedEndpointName}}</p>
        </div>
        <div class="item">
            <h5 class="header">SPARQL endpoint URL</h5>
            <p>{{selectedEndpointUrl}}</p>
        </div>
        <div class="item">
            <h5 class="header">Graph</h5>
            <p>{{selectedGraph}}</p>
        </div>
    </div>
</div>

<div class="ui darkRedBorderTop segment">
    <div class="ui blue right ribbon label">Current data displayed</div>
    <div id="data_info" class="ui list">
        <div class="item">
          <h5 class="header"><a class="ui red empty circular tiny label"></a> Class</h5>
          <p>{{dataInfo.classe.uri}}</p>
          <p>{{dataInfo.classe.label}}</p>
        </div>

        <div class="item">
          <h5 class="header" ng-show="dataInfo.litPropHeadClass.length != 0"><a class="ui red empty circular tiny label"></a> Class Literal Properties</h5>
          <div ng-model="dataInfo.litPropClasse"
               ng-repeat="prop in dataInfo.litPropClasse">
              <p>{{prop.label}}</p>
              <p>{{prop.uri}}</p>
          </div>
        </div>

        <div class="item">
          <h5 class="header" ng-show="dataInfo.objPropHeadClass.length != 0"><a class="ui red empty circular tiny label"></a> Class Object Properties</h5>
          <div ng-model="dataInfo.objPropClasse">
              <p>{{objPropClasse.label}}</p>
              <p>{{objPropClasse.uri}}</p>
          </div>
        </div>

        <div class="item">
          <h5 class="header" ng-show="dataInfo.litPropHeadClass.length != 0"><a class="ui red empty circular tiny label"></a> Class Object Property Literal Properties</h5>
          <div ng-model="dataInfo.litPropObj"
               ng-repeat="prop in dataInfo.litPropObj">
              <p>{{prop.label}}</p>
              <p>{{prop.uri}}</p>
          </div>
        </div>

        <div class="item">
          <h5 class="header" ng-show="dataInfo.objPropHeadClass.length != 0"><a class="ui red empty circular tiny label"></a> Class Object Property Object Properties</h5>
          <div ng-model="dataInfo.objPropClasse" class="item">
              <p>{{objPropObj.label}}</p>
              <p>{{objPropObj.uri}}</p>
          </div>
        </div>
    </div>
</div>

<div id="prefixesBox" class="ui darkRedBorderTop segment">
    <div class="ui blue right ribbon label">Prefixes</div>
    <div class="ui list">
        <div ng-repeat="prefixUrl in prefixes" class="item">
            <div class="content">
                <a class="header" href="{{prefixUrl.url}}" target="_blank">{{prefixUrl.prefix}}</a>
                <div class="description">{{prefixUrl.url}}</div>
            </div>
        </div>
    </div>
</div>
